<div class="p-8">
  <div id="section-contact-content" class="p-8">
    <div class="surface-section text-700 text-center">
      <div class="text-900 text-primary font-bold text-3xl mb-3">
        Unlock seamless connectivity
      </div>
      <div class="text-700 text-l mb-5">
        Between your payroll systems and third-party platforms. Experience
        customized reports and dashboards tailored to your needs.
      </div>
      <button
        pButton
        pRipple
        label="Integrate my Data"
        icon="pi pi-envelope"
        type="button"
        (click)="openEmail()"
        class="mr-3 p-button-raised"
      ></button>
    </div>
  </div>

  <div class="text-700 text-l mb-6 text-center line-height-3">
    These plans describe mothly access to the platform, Any development
    regarding integrations and customization of reports and dashboards are
    quoted on a case by case basis.
  </div>

  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-l mb-2">Single User</div>
          <div class="text-600">Mothly Subscription</div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <div class="flex align-items-center">
            <span class="font-bold text-4xl text-900">R 550</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Up to 1 User </span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Reporting</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Analytics Dashboards</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-bottom-none surface-border mt-auto"
          />
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-l mb-2">Organization</div>
          <div class="text-600">Plan description</div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <div class="flex align-items-center">
            <span class="font-bold text-4xl text-900">R 1950</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Up to 5 Users</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Reporting</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Analytics Dashboards</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>User Administration</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Integration Administration</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 flex flex-column surface-card"
          style="border-radius: 6px"
        >
          <div class="text-900 font-medium text-l mb-2">Enterprise</div>
          <div class="text-600">Plan description</div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <div class="flex align-items-center">
            <span class="font-bold text-4xl text-900">R 9950</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr
            class="my-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Unlimited Users</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Reporting</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Payroll Analytics Dashboards</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>User Administration</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Integration Administration</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-bottom-none surface-border"
          />
        </div>
      </div>
    </div>
  </div>
</div>
