<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-4xl font-bold mb-1">Your Data</span>
      <div class="text-4xl text-primary font-bold mb-3">
        Connected and Empowered
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Bridging the gaps between systems. Our mission is to empower businesses
        by transforming disconnected data into connected insights, enabling
        smarter decisions and enhanced performance.
      </p>

      <button
        pButton
        pRipple
        label="Discover"
        type="button"
        class="mr-3 p-button-raised"
        (click)="scrollToSection('section-services-content')"
      ></button>
      <button
        pButton
        pRipple
        label="Request a Demo"
        type="button"
        class="p-button-outlined"
        (click)="scrollToSection('section-contact-content')"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/d9c42ad5-5f33-4d9f-85bd-2e26ebcc60fb.jpeg"
      alt="Image"
      class="main-graphic"
    />
  </div>
</div>
