<div class="p-8">
  <div class="surface-section text-700 text-center">
    <div class="text-900 text-blue-600 font-bold text-5xl mb-3">
      Unlock seamless connectivity
    </div>
    <div class="text-700 text-2xl mb-5">
      Between your payroll systems and third-party platforms. Experience
      customized reports and dashboards tailored to your needs.
    </div>
    <button
      pButton
      pRipple
      label="Integrate my Data"
      icon="pi pi-envelope"
      type="button"
      (click)="openEmail()"
      class="mr-3 p-button-raised"
    ></button>
  </div>
</div>
