<div class="surface-section text-center p-8">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">One Platform, </span>
    <span class="text-blue-600">Infinite Possibilities</span>
  </div>
  <div class="text-700 text-sm mb-6">
    Explore seamless integration and cutting-edge security with our tailored
    solutions, designed to fit your business needs. From effortless onboarding
    to enhanced data protection, we ensure every step of your digital journey is
    simple, secure, and customizable.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-desktop text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Built for Simplicity</div>
      <span class="text-700 text-sm line-height-3"
        >Our intuitive interface ensures that connecting your systems is quick
        and easy, saving you time and reducing complexity.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-lock text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Zero Data Stored</div>
      <span class="text-700 text-sm line-height-3"
        >We prioritize your data security by processing information without
        storing it, ensuring maximum confidentiality.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-check-circle text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Easy to Use</div>
      <span class="text-700 text-sm line-height-3"
        >With a user-friendly design, our integration solutions are accessible
        to all, requiring minimal training or expertise.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Custom Solutions</div>
      <span class="text-700 text-sm line-height-3"
        >Every business is unique, and so are our integrations. We tailor each
        solution to meet your specific needs, ensuring seamless
        compatibility.</span
      >
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-github text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Hassle Free Onboarding</div>
      <span class="text-700 text-sm line-height-3"
        >Get started without the stress. Our streamlined onboarding process
        makes it simple to integrate your systems and start seeing results
        quickly.
      </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-orange-500"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Trusted Securitty</div>
      <span class="text-700 text-sm line-height-3"
        >Your credentials are safe with us. We follow the highest industry
        standards to keep your personal information secure and protected.</span
      >
    </div>
  </div>
</div>
